<div id='welcome'></div>
<%= javascript_pack_tag 'welcome' %>
<%= javascript_pack_tag 'hello_react' %>
<%= javascript_pack_tag 'goodbye_react' %>

<% @posts.each do |post| %>
  <div>--------------------------------------</div>
  <h1><%= post.title %></h1>
  <div><%= post.content %></div>
  <div>--------------------------------------</div>
<% end %>

<p><%= link_to 'Design', design_path %></p>
<p><%= link_to 'Projects', projects_path %></p>